Options -MultiViews
RewriteEngine On

# If the request is specifically for /open-app, serve open-app.html
RewriteRule ^open-app$ /open-app.html [L]

# If not an existing file or folder, route to index.html (React SPA fallback)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [QSA,L]
