Options -MultiViews
RewriteEngine On

# Serve open-app.html for /open-app
RewriteRule ^open-app$ open-app.html [L,QSA]

# Default Vite SPA routing rule
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [QSA,L]
